@import '../../../style/colors';
@import '../../../style/fonts';

.cart {
  font-family: 'Raleway', sans-serif;
  color: $main-text-color;
}

.cart h1 {
  font-size: 32px;
  font-weight: map-get($font-weights, bold);
  text-transform: uppercase;

  margin: 35px 0px 35px 70px;
}

.cart-page-brand-and-name p:last-child {
  margin-bottom: 0px;
}

.cart-page-price p:last-child {
  margin-bottom: 10px;
}

.attribute-name-product-page {
  font-family: 'Roboto Condensed', sans-serif;
}

.attributes-section-product-page p {
  font-family: 'Roboto Condensed', sans-serif;
}

.product-attributes-cart-page li,
.product-color-cart-page li {
  cursor: default;
}

.cart-page {
  margin-top: 50px;
  flex-direction: row-reverse;
  justify-content: space-between;

  max-height: fit-content;
}

.details-section-cart-page {
  max-height: 100%;
}

.img-section-cart-page img {
  width: 200px;
  height: 100%;
}

.cart-page-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
