@import '../../../../../../style/colors';
@import '../../../../../../style/fonts';

.dropdown {
  position: absolute;
  z-index: -1;

  left: -40px;
  top: -35px;

  width: 120px;
  background: $main-color;

  font-family: 'Raleway', sans-serif;
  font-weight: map-get($font-weights, medium);
  font-size: 18px;
}

.dropdown-text {
  color: $main-text-color;
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown-text:after {
  content: url('../assets/arrow.svg');

  transition: all 0.3s;

  position: absolute;
  left: 35px;

  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.dropdown.active-dd .dropdown-text:after {
  margin-top: 5px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.dropdown-items {
  font-size: 16px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

.dropdown.active-dd .dropdown-items {
  visibility: visible;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  height: auto;
  max-height: 290px;
  opacity: 1;
  transition: max-height 0.5s, opacity 1.5s, visibility 4s ease;
}

.dropdown-item {
  cursor: pointer;
  padding: 10px 18px;
}

.dropdown-item:hover {
  background: #eeeeee;
}
