@import '../../../../style/colors';
@import '../../../../style/fonts';

.header-wrapper {
  font-family: 'Raleway', sans-serif;

  background-color: $main-color;
  color: $main-text-color;
  height: 80px;

  position: sticky;
  top: 0;
  width: 100%;

  padding-left: 70px;
  padding-right: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper .header-links ul {
  list-style: none;
  display: flex;
  column-gap: 20px;
}

.header-wrapper .header-links ul > li a {
  text-transform: uppercase;
  font-weight: map-get($font-weights, regular);
  font-size: 16px;
  line-height: 120%;
  color: $main-text-color;
  text-decoration: none;

  padding-bottom: 25px;
}

.active {
  border-bottom: 3px solid $accent-color;
}

.header-wrapper .header-currency-cart {
  display: flex;
  align-items: flex-end;
  column-gap: 35px;
}

.header-wrapper .header-currency-cart .currencies {
  font-size: 18px;
  line-height: 160%;
  font-weight: map-get($font-weights, medium);

  position: relative;
}
